/*PALETA*/
$fondo: #FFF7EC;
$fondo-oscuro: #B30000;
$fondo-claro: #D7301F;
$claro: #FC8D59;
$ultra-claro: #FFF7EC;
$medium: #FDBB84;
$medium-dark: #EF6548;

/*FUENTES*/
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-texto: 'Dosis', sans-serif;